.create-business-button {
  display: inline-block;
  margin: 1rem 0;

  &__link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--theme-elevation-500);
    border: 1px solid var(--theme-elevation-700);
    border-radius: var(--base-border-radius);
    color: var(--theme-text);
    cursor: pointer;
    font-family: var(--font-body);
    font-size: var(--font-size-sm);
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      background: var(--theme-elevation-600);
      border-color: var(--theme-elevation-800);
      text-decoration: none;
    }
  }
}
